.idea/
cmake-build-debug/
cmake-build-release/
debian/.debhelper/
debian/debhelper-build-stamp
debian/blink-installer.debhelper.log
debian/blink-installer.substvars
debian/blink-installer/
debian/blink-installer-oem.debhelper.log
debian/blink-installer-oem.substvars
debian/blink-installer-oem/
debian/blink-installer-timezones.debhelper.log
debian/blink-installer-timezones.substvars
debian/blink-installer-timezones/
debian/files
debian/tmp/
i18n/*.qm
obj-*/
