[Desktop Entry]
Categories=Settings;
Comment=Installer for Linux
Exec=blink-installer-pkexec
Icon=blink-installer
Name=Install Blink
StartupNotify=false
Terminal=false
Type=Application
X-Desktop-File-Install-Version=0.21
X-MultipleArgs=false

# Translations
Comment[am]=ለ ሊነክስ መግጠሚያ
Name[am]=መግጠሚያ
Comment[ar]=  تثبيت إلى لينكس دييبن
Name[ar]=تنصيب دييبن
Comment[az]=Blink Linux üçün quraşdırıcı
Name[az]=Blink-i Quraşdır
Comment[cs]=Instalátor pro Blink Linux
Name[cs]=Nainstalovat Blink
Comment[da]=Installationsprogram for Blink Linux
Name[da]=Blink Installer
Comment[de]=Blink Linux Installationsprogramm
Name[de]=Blink installieren
Comment[el]=Βοηθός Εγκατάστασης για το Blink Linux
Name[el]=Εγκατάσταση του Blink
Comment[es]=Instalador para Blink Linux
Name[es]=Instalar Blink
Comment[fi]=Blink Linux asennusohjelma
Name[fi]=Asenna Blink
Comment[fr]=Installateur pour Blink Linux
Name[fr]=Blink Installer
Comment[es_CL]=Instalar Blink Linux
Name[es_CL]=Instalar Blink
Comment[he]=מתקין עבור Blink Linux
Name[he]=התקן את Blink
Comment[hr]=Instalacijski program za Blink Linux
Name[hr]=Instaliraj Blink
Comment[hu]=Blink Linux telepítő 
Name[hu]=Blink telepítése 
Comment[hy]=Blink Linux-ի տեղադրիչ
Name[hy]=Տեղադրել Blink
Comment[id]=Installer untuk Blink Linux
Name[id]=Pasang Blink
Comment[it]=Installer per Blink Linux
Name[it]=Installa Blink OS
Comment[ja]=インストーラー
Name[ja]=インストール
Comment[ms]=Pemasang untuk Blink Linux
Name[ms]=Pasang Blink
Comment[nl]=Blink Linux-installatieprogramma
Name[nl]=Blink installeren
Comment[es_419]=Instalador para Blink Linux
Name[es_419]=Instalar Blink
Comment[pl]=Instalator Blink Linux
Name[pl]=Zainstaluj Blink
Comment[pt]=Instalador de Blink Linux
Name[pt]=Instalar Blink
Comment[pt_BR]=Instalador para Blink Linux
Name[pt_BR]=Instalar Blink
Comment[ro]=Instalator Blink Linux
Name[ro]=Instalarea Blink
Comment[ru]=Установщик Blink Linux
Name[ru]=Установить Blink
Comment[sk]=Inštalátor pre Blink Linux
Name[sk]=Inštalovať Blink
Comment[sl]=Installer za Blink Linux
Name[sl]=Namesti Blink
Comment[tr]=Blink Linux için Kurucu
Name[tr]=Blink Kur
Comment[uk]=Встановлювач Blink Linux
Name[uk]=Встановити Blink
Comment[zh_CN]=Blink Linux安装器
Name[zh_CN]=安装Blink
Comment[zh_TW]=Blink 作業系統安裝程式
Name[zh_TW]=安裝 Blink
Comment[es_AR]=Instalador de Blink Linux
Name[es_AR]=Instalar Blink
Comment[en_AU]=Blink Linux Installer
Name[en_AU]=Install Blink
Comment[es_ES]=Instalador de Blink Linux
Name[es_ES]=Instalar Blink
