Source: blink-installer
Section: utils
Priority: extra
Maintainer: Xu Shaohua <shaohua@biofan.org>
Build-Depends:
    cmake (>=3.1),
    debhelper (>=9),
    dh-systemd,
    g++ (>=6.3.0),
    gettext,
    libattr1-dev,
    libparted-dev,
    libqt5x11extras5-dev,
    libx11-dev,
    libxext-dev,
    libxrandr-dev,
    libxss-dev,
    libxtst-dev,
    pkg-config,
    qt5-qmake,
    qtbase5-dev,
    qttools5-dev,
    qttools5-dev-tools,
    zlib1g-dev
Standards-Version: 3.9.8
Homepage: http://github.com/BlinkLinux/blink-installer

Package: blink-installer
Architecture: any
Depends:
    ${shlibs:Depends},
    ${misc:Depends},
    btrfs-progs,
    dosfstools,
    imagemagick,
    imageworsener,
    jfsutils,
    mtools,
    ntfs-3g,
    os-prober,
    parted,
    pciutils,
    reiserfsprogs,
    squashfs-tools,
    tshark,
    udev,
    x11-xserver-utils,
    xfsprogs,
    xinit,
    xkb-data
Description: Release version of blink installer
 Linux installator for debian based distributions.
