#!/usr/bin/make -f

export QT_SELECT=qt5

ifneq (,$(filter i386 amd64,$(DEB_HOST_ARCH_CPU)))
use_systemd := on
else ifneq (,$(filter mipsel mips64el arm arm64,$(DEB_HOST_ARCH_CPU)))
use_systemd := on
else
use_systemd = on
endif

%:
	dh $@  --parallel

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_INSTALL_PREFIX=/usr \
		-DUSE_SYSTEMD=$(use_systemd)

# TODO(Shaohua): Remove fixperms section
override_dh_fixperms:
	dh_fixperms
	find debian -name '*.job' -exec chmod 755 {} \;
	find debian -name '*.sh' -exec chmod 755 {} \;
	find debian -name 'genfstab' -exec chmod 755 {} \;

